<html>
<head>
<title>fragment_detail.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
.s4 { color: rgb(128,128,128); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
fragment_detail.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;layout&gt;</span><span class="s3"> 
 
  </span><span class="s0">&lt;ScrollView </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
      </span><span class="s1">xmlns:app=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
      </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/scroll_view&quot;</span><span class="s0"> 
      </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
      </span><span class="s1">app:layout_behavior=</span><span class="s2">&quot;@string/appbar_scrolling_view_behavior&quot;</span><span class="s0"> 
      </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
      &gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
      </span><span class="s4">&lt;!--&lt;android.support.v7.widget.Toolbar--&gt;</span><span class="s3"> 
      </span><span class="s4">&lt;!--android:theme=&quot;@style/ThemeOverlay.AppCompat.Dark.ActionBar&quot;--&gt;</span><span class="s3"> 
      </span><span class="s4">&lt;!--android:id=&quot;@+id/search_toolbar&quot;--&gt;</span><span class="s3"> 
      </span><span class="s4">&lt;!--android:layout_width=&quot;match_parent&quot;--&gt;</span><span class="s3"> 
      </span><span class="s4">&lt;!--android:layout_height=&quot;wrap_content&quot;--&gt;</span><span class="s3"> 
      </span><span class="s4">&lt;!--android:background=&quot;@color/colorPrimary&quot;--&gt;</span><span class="s3"> 
      </span><span class="s4">&lt;!--&amp;gt;--&gt;</span><span class="s3"> 
 
 
      </span><span class="s0">&lt;FrameLayout 
          </span><span class="s1">android:background=</span><span class="s2">&quot;@color/colorPrimary&quot;</span><span class="s0"> 
          </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
          </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;ImageView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/navigation_toolbar&quot;</span><span class="s0"> 
            </span><span class="s1">app:srcCompat=</span><span class="s2">&quot;@drawable/ic_arrow_back_black_24dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:tint=</span><span class="s2">&quot;@color/text_white&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;top|start&quot;</span><span class="s0"> 
            </span><span class="s1">android:padding=</span><span class="s2">&quot;@dimen/toolbar_margin&quot;</span><span class="s0"> 
            /&gt;</span><span class="s3"> 
 
 
        </span><span class="s0">&lt;ImageView 
            </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;250dp&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
 
      </span><span class="s0">&lt;/FrameLayout&gt;</span><span class="s3"> 
 
 
      </span><span class="s4">&lt;!--&lt;/android.support.v7.widget.Toolbar&gt;--&gt;</span><span class="s3"> 
      </span><span class="s0">&lt;LinearLayout 
          </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
          </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
          </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
          </span><span class="s1">android:background=</span><span class="s2">&quot;@color/colorAccent&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;android.support.v7.widget.CardView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/card&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;@dimen/detail_item_card_width&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;@dimen/detail_item_card_heigh&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_margin=</span><span class="s2">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
          </span><span class="s0">&lt;ImageView 
              </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/image_header&quot;</span><span class="s0"> 
              </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
              </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
              /&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/android.support.v7.widget.CardView&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;RelativeLayout 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            &gt;</span><span class="s3"> 
 
 
          </span><span class="s0">&lt;TextView 
              </span><span class="s1">android:layout_centerVertical=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
              </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/toolbar_title&quot;</span><span class="s0"> 
              </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
              </span><span class="s1">style=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Title&quot;</span><span class="s0"> 
              </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
          </span><span class="s0">&lt;RatingBar 
              </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@id/toolbar_title&quot;</span><span class="s0"> 
              </span><span class="s1">style=</span><span class="s2">&quot;@style/Widget.AppCompat.RatingBar.Small&quot;</span><span class="s0"> 
              </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
              </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
 
        </span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
      </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
  </span><span class="s0">&lt;/ScrollView&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/layout&gt;</span></pre>
</body>
</html>